.landingPage__container {
   .SpielbetriebText {
      font-size: 33px;
      font-family: "Roboto", Sans-serif;
      letter-spacing: 3px;
      color: rgba(30,48,68, 1);
      font-weight: 600;
   }
}