$sectionBgColors: #212023 #4591b8 #fff;
$sectionHeadingColors: #fff #fff #212023;
$sectionTextColors: #efefef #efefef #666;
$circleColor: rgba(255, 255, 255, .1);

// =================

body {
   font-size: 12px;
}

h1 {
   margin-top: 0;
   font-family: 'Montserrat', sans-serif;
   font-weight: 400;
   font-size: 20px;
}

// =================
// http://purecssapple.com
// =================
// ihpone 6
.pca-hold.iphone-6 {width: 154px; padding: 3px; border-radius: 16.95px; overflow: hidden; } .pca-hold.iphone-6 .pca-main {display: block; position: relative; background-color: #1D1F20; border: 4.5px solid #1d2d2d; border-top: 34.5px solid #1d2d2d; border-bottom: 35.4px solid #1d2d2d; border-radius: 16.95px; height: 307.8px; box-shadow: 0 0 0 1.5px #C6C7CA; } .pca-hold.iphone-6.iphone-6--on .pca-main {background-color: #efefef; } .pca-hold.iphone-6 .pca-main:after {content: ''; position: absolute; top: -19.5px; left: 55%; -webkit-transform: translate(-50%,0); -ms-transform: translate(-50%,0); -o-transform: translate(-50%,0); transform: translate(-50%,0); width: 4.5px; height: 4.5px; background-color: #959595; border-radius: 100%; -webkit-transform: translate(-27px,0); -ms-transform: translate(-27px,0); -o-transform: translate(-27px,0); transform: translate(-27px,0); } .pca-hold.iphone-6 .pca-main:before {content: ""; position: absolute; top: -7.5px; left: 55%; opacity: 1; width: 30px; height: 1.5px; -webkit-transform: translate(-13.5px,-11.25px); -ms-transform: translate(-13.5px,-11.25px); -o-transform: translate(-13.5px,-11.25px); transform: translate(-13.5px,-11.25px); border-radius: 1.5px; background-color: #959595; } .pca-hold.iphone-6.iphone-6--on .pca-inner {display: block; height: 100%; box-shadow: 0 0 25px 0 rgba(255, 255, 255, .5); } .pca-hold.iphone-6 .pca-sub {display: block; text-align: center; position: relative; height: 0; } .pca-hold.iphone-6 .pca-sub .pca-bot {border-radius: 100%; width: 21px; height: 21px; display: block; margin: 0 auto; background-color: transparent; z-index: 2; box-shadow: 0 0 0 1.65px #636670; -webkit-transform: translate(0,-28.2px); -ms-transform: translate(0,-28.2px); -o-transform: translate(0,-28.2px); transform: translate(0,-28.2px); }

// iphone screen animation
.pca-hold.circle-animation {width: 356px; } .pca-hold.circle-animation .pca-main {display: block; position: relative; background: linear-gradient(#A1E5E5,#1987AA);  border: 10.68px solid #fff; border-top: 81.88px solid #fff; border-bottom: 84.016px solid #fff; border-radius: 40.228px; height: 730.512px; box-shadow: 0 0 0 3.56px #C6C7CA; } .pca-hold.circle-animation .pca-main:after {content: ''; position: absolute; top: -46.28px; left: 55%; -webkit-transform: translate(-50%,0); -ms-transform: translate(-50%,0); -o-transform: translate(-50%,0); transform: translate(-50%,0); width: 10.68px; height: 10.68px; background-color: #959595; border-radius: 100%; -webkit-transform: translate(-64.08px,0); -ms-transform: translate(-64.08px,0); -o-transform: translate(-64.08px,0); transform: translate(-64.08px,0); } .pca-hold.circle-animation .pca-main:before {content: ""; position: absolute; top: -17.8px; left: 55%; opacity: 1; width: 71.2px; height: 3.56px; -webkit-transform: translate(-32.04px,-26.7px); -ms-transform: translate(-32.04px,-26.7px); -o-transform: translate(-32.04px,-26.7px); transform: translate(-32.04px,-26.7px); border-radius: 3.56px; background-color: #959595; } .pca-hold.circle-animation .pca-inner {display: block; height: 100%; overflow: hidden;} .pca-hold.circle-animation .pca-sub {display: block; text-align: center; position: relative; height: 0; } .pca-hold.circle-animation .pca-sub .pca-bot {border-radius: 100%; width: 49.84px; height: 49.84px; display: block; margin: 0 auto; background-color: transparent; z-index: 2; box-shadow: 0 0 0 3.916px #636670; -webkit-transform: translate(0,-66.928px); -ms-transform: translate(0,-66.928px); -o-transform: translate(0,-66.928px); transform: translate(0,-66.928px); }

// =================

.shine-effect {
	&:before {
	    content: '';
	    display: block;
	    position: absolute;
	    top: 0;
	    left: -100%;
	    z-index: 2;
	    width: 50%;
	    height: 100%;
	    background-image: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	    transform: skewX(-25deg);
	}

	&:hover {
		&:before {
			animation: shine 1s;
		}
	}
}

@keyframes shine {
    100% {
        left: 150%;
    }
}

// =================

section {
   position: relative;
   overflow: hidden;
   
   @each $currentColor in $sectionBgColors {
      $i: index($sectionBgColors, $currentColor);
      &:nth-of-type(#{$i}) { 
         background-color: $currentColor;
         color: nth($sectionHeadingColors, $i);

         p {
            color: nth($sectionTextColors, $i);
         }
      }
   }
   
   .bg-image {
      width: 100%;
      height: 125%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 25%;
      filter: blur(4px);
      transform: translate3d(0, 25%, 0);
      transition: transform 1s ease;
      
      &::before {
         content: '';
         width: 100%;
         height: 100%;
         position: absolute;
         top: 0;
         left: 0;
         background-color: rgba(0, 0, 0, .1);
      }
   }
}

.copy {
   width: 40%;
   max-width: 500px;
   padding: 0 15px;
   position: absolute;
}  

 .circle {
   width: 50px;
   height: 50px;
   margin-left: -25px;
   background: none;
   border-radius: 50%;
   animation: circle 30s linear infinite alternate;
}

// credit to Fabrizio Bianchi
// https://codepen.io/fbrz/pen/vlrnd
@keyframes circle {
  0%{
    box-shadow: rgba(255,255,255,0.1) 160px 335px,rgba(255,255,255,0.1) 120px 275px 0 12px,rgba(255,255,255,0.1) 60px 355px 0 23px,rgba(255,255,255,0.1) 230px 445px 0 -8px,rgba(255,255,255,0.1) 60px 125px,rgba(255,255,255,0.1) 260px 145px 0 12px,rgba(255,255,255,0.1) 300px 145px 0 23px,rgba(255,255,255,0.1) 100px 85px 0 -8px,rgba(255,255,255,0.1) 350px 555px,rgba(255,255,255,0.1) 350px 273px 0 -2px,rgba(255,255,255,0.1) 150px 355px 0 23px,rgba(255,255,255,0.1) 180px 205px 0 -8px,rgba(255,255,255,0.1) 0px 0px 0 -8px,rgba(255,255,255,0.1) 100px 555px 0 10px;
  }
  100%{
    box-shadow: rgba(255,255,255,0.1) 70px 10px,rgba(255,255,255,0.1) 300px 205px 0 12px,rgba(255,255,255,0.1) 0px 155px 0 23px,rgba(255,255,255,0.1) 330px 45px 0 -8px,rgba(255,255,255,0.1) 460px 325px,rgba(255,255,255,0.1) 0px 445px 0 12px,rgba(255,255,255,0.1) 300px 145px 0 23px,rgba(255,255,255,0.1) 100px 85px 0 -8px,rgba(255,255,255,0.1) 50px 155px,rgba(255,255,255,0.1) 150px 273px 0 -2px,rgba(255,255,255,0.1) 0px 555px 0 23px,rgba(255,255,255,0.1) 180px 5px 0 -8px,rgba(255,255,255,0.1) 300px 555px 0 -8px,rgba(255,255,255,0.1) 350px 355px 0 10px;
  }
}

// =================
// layouts
// =================
// copy in the right side, centered vertically
.layout--copy-right {   
   &.active {
      .bg-image {
        transform: translate3d(0, 0, 0);
      }
      
      .iphone-6 {
         transform: translate3d(-125%, -60%, 0);
         
         &.iphone-6--on {
            transform: translate3d(-100%, -40%, 0);
         }
      }
   }   
   
   .iphone-6 {
      margin-left: -10%;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1;
      transform: translate3d(-125%, -75%, 0);
      transition: transform 1s ease;

      &.iphone-6--on {
         z-index: 2;
         transform: translate3d(-100%, -125%, 0);
      }
   }   
   
   .copy {
      top: 50%;
      left: 50%;
      transform: translateY(-50%);
   }   
}

//copy in the top, centered
.layout--copy-top { 
   &.active {      
      .pca-hold {
         transform: translate3d(-50%, -30%, 0);
      }
   }   
   
   .pca-hold {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate3d(-50%, 50%, 0);
      transition: transform 1s ease;
   }
   
   .copy {
      width: 100%;
      top: 10%;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
   }   
}