@font-face {
    font-family: 'DMSerifDisplay';
    src: url('../font/DMSerifDisplay.ttf') format('truetype');
}  
@font-face {
    font-family: 'AbrilFatface';
    src: url('../font/AbrilFatface.ttf') format('truetype');
}  
@font-face {
    font-family: 'BodoniModa';
    src: url('../font/BodoniModa.ttf') format('truetype');
}  
@font-face {
    font-family: 'RozhaOne';
    src: url('../font/RozhaOne.ttf') format('truetype');
}  

.merrier__background {
    width: 100%;
    height: 100%;
    background-color: #000;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    .merrier__title {
        font-family: 'AbrilFatface';
        font-size: 33px;
        letter-spacing: -1px;
        color: #fff;
    }
}